#title-text
{
    font-family: 'Playfair Display',serif;
    font-size: 60px;
    line-height: 40px;
    text-align: center;
    color: #8bc34a !important;
    margin-bottom: 60px;
    -webkit-text-stroke: 0.5px #09A64B;
    /* text-shadow: 1px 1px #8bc34a;      */
}
.cards-flex{
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    margin: auto;
}
.Review-Container{
    margin-bottom: 80px;
}
.card{
    background-color: #ccc;
}