.error-notice{
    padding: 0.5rem;
    padding-left: 8rem;
    margin : 1rem 0;
    margin-left: 22rem;
    border: 1px solid black;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
    font-weight: 700;
}
.error-notice button{
    background-color:black;
    width:30px;
    height:30px;
    border-radius: 50%;
    color:white;

}